{% extends "main/layout.html" %}
{% block title %}Фото с праздников{% endblock %}
    {% load static  %}
{% block content  %}
<div class="container">
    <h2 class="card-title; text-center">ДНИ РОЖДЕНИЯ</h2>
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-touch="false" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/birthday/1.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/birthday/2.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                            </div>
                        </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="{% static 'main/images/potfolio/photosFromEvents/birthday/3.jpg' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="{% static 'main/images/potfolio/photosFromEvents/birthday/4.jpg' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                </div>
                            </div>
                    </div>
                <a class="carousel-control-prev" href="#carouselExampleControlsNoTouching" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControlsNoTouching" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <h2 class="text-center">КОРПОРАТИВНЫЕ ПРАЗДНИКИ</h2>
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControlsNoTouching2" class="carousel slide" data-touch="false" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/corp/1.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/corp/2.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                            </div>
                        </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/corp/3.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/corp/4.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                                </div>
                            </div>
                    </div>
                <a class="carousel-control-prev" href="#carouselExampleControlsNoTouching2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControlsNoTouching2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <h2 class="text-center">ТИМБИЛДИНГИ</h2>
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControlsNoTouching3" class="carousel slide" data-touch="false" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/team/1.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/team/2.jpg'' %}" class="d-block w-100" alt="First slide">
                                </div>
                            </div>
                        </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/team/3.jpg'' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/team/4.jpg'' %}" class="d-block w-100" alt="First slide">
                                </div>
                                </div>
                            </div>
                    </div>
                <a class="carousel-control-prev" href="#carouselExampleControlsNoTouching3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControlsNoTouching3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
<h2 class="card-title; text-center">ВЫПУСКНЫЕ</h2>
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControlsNoTouching4" class="carousel slide" data-touch="false" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/prom/1.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/prom/2.jpeg' %}" class="d-block w-100" alt="First slide">
                                </div>
                            </div>
                        </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="{% static 'main/images/potfolio/photosFromEvents/prom/3.jpg' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="{% static 'main/images/potfolio/photosFromEvents/prom/4.jpg' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                </div>
                            </div>
                    </div>
                <a class="carousel-control-prev" href="#carouselExampleControlsNoTouching4" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControlsNoTouching4" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <h2 class="text-center">ПРАЗДНИКИ ДЛЯ ДЕТЕЙ</h2>
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControlsNoTouching5" class="carousel slide" data-touch="false" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/children/1.jpeg' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/children/2.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                            </div>
                        </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/children/3.jpeg' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/children/4.jpeg' %}" class="d-block w-100" alt="First slide">
                                </div>
                                </div>
                            </div>
                    </div>
                <a class="carousel-control-prev" href="#carouselExampleControlsNoTouching5" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControlsNoTouching5" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <h2 class="text-center">СВАДЬБЫ</h2>
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControlsNoTouching6" class="carousel slide" data-touch="false" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/wedding/1.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/wedding/2.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                            </div>
                        </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/wedding/3.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-6">
                                    <img src="{% static 'main/images/potfolio/photosFromEvents/wedding/4.jpg' %}" class="d-block w-100" alt="First slide">
                                </div>
                                </div>
                            </div>
                        <br>
                    </div>
                <a class="carousel-control-prev" href="#carouselExampleControlsNoTouching6" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControlsNoTouching6" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}