<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static  %}
    <!-- Bootstrap -->
    <link href="{% static 'main/css/bootstrap-4.0.0.css' %}" rel="stylesheet">
</head>
<!--<body style="overflow-x:hidden; background-image: url('static/main/images/about/layout.jpg');">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;  opacity: 0.4;">-->
<body style="overflow-x:hidden">
    <nav class="navbar navbar-expand-lg navbar-light">
     <div class="container">
        <a class="navbar-brand" href="/about" style="font-family: 'Dancing Script', cursive">NiceParty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <div class="container">
                 <div class="row">
                    <div class="col-md-9">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/about">О нас <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacts">Контакты</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Услуги</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/serverses/typesOfServerses">Виды праздников</a>
                <a class="dropdown-item" href="/serverses/additionalServices">Дополнительные услуги</a>
              </div>
            </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Портфолио</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/potfolio/clientsAndPartners">Наши клиенты и партнеры</a>
                <a class="dropdown-item" href="/potfolio/photosFromEvents">Фото с праздников</a>
              </div>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/feedback">Отзывы</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/blog">Блог</a>
            </li>
            </li>
          </ul>
          </div>
        <div class="col-md-3">
          <ul class="navbar-nav">
              <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Выйти</a>
            </li>
          </ul>
             </div>
        </div>
     </div>
   </nav>

{% block content  %}{% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'main/js/popper.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap-4.0.0.js' %}"></script>
</body>
</html>