{% extends "main/layout.html" %}
    {% block title %}Дополнительные услуги{% endblock %}
    {% load static  %}
{% block content  %}
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'main/images/serverses/additionalServices/1.jpeg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title; text-center">Аренда оборудования</h5>
            </div>
            </div>
        </div>

        <div class="col-md-4 col-md-push-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'main/images/serverses/additionalServices/2.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title; text-center">Бронирование залов</h5>
            </div>
            </div>
        </div>

        <div class="col-md-4 col-md-push-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'main/images/serverses/additionalServices/3.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title; text-center">Фото- и видеосъемка</h5>
            </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}