{% extends "main/layout.html" %}
    {% block title %}Контакты{% endblock %}
    {% load static  %}
{% block content  %}
    <h2 class="text-center">КОНТАКТЫ</h2>
    <hr>
    <div class="container">
      <div class="card">
          <div class="row">
        <div class="col-md-4">
            <div class="card-body">
                <p class="card-title">Вы можете прийти к нам по адресу:</p>
                <p class="card-text">Невский проспект, д. 73</p>
            </div>
        </div>
        <div class="col-md-4 col-md-push-4">
          <div class="card-body">
            <p class="card-title">Или позвонить по номеру:</p>
            <p class="card-text">Тел.: 8 (234) 123-09-87</p>
            <p class="card-text">Или написать на почту:</p>
            <p class="card-text">email: coffeeFam@gmail.com</p>
          </div>
        </div>
        <div class="col-md-4 col-md-push-4">
           <div class="card-body">
          <a href="/consultation" class="card-link">Получить консультацию</a>
          <br>
          <a href="/loginForApp" class="card-link">Оставить заявку</a>
            </div>
        </div>
      </div>
    </div>
    <hr>
    <h2 class="text-center">КАК НАС НАЙТИ?</h2>
    <hr>
    <div class="container">
          <div class="card">
            <img class="card-img-top" src="{% static 'main/images/contacts/map.PNG' %}" alt="map.PNG">
          </div>
        <br>
    </div>
{% endblock %}