{% extends "staff/layoutStaff.html" %}
{% block title %}Посмотреть статус{% endblock %}
    {% load static  %}
{% block content %}
<div class="container">
    <br>
    <br>
    <h5 class="text-center">Статус организации мероприятия для клиента</h5>
    {% for i in allStatuses %}
     <a href="/delete/{{i.id}}" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span></a>
        <p class="card-title">{{ i.title }}</p>
        <p class="card-title">{{ i.created_et }}</p>
    {% endfor %}

  </div>



{% endblock %}